body {
    background-color: #F0F0F0;
}

ul  {
    list-style-type: none;
}

.cuisine-mappings-anchor {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.cuisine-mappings-bg {
    background-image: url("../img/pexels-photo-349610 (1).jpeg");
    background-size: cover;
    height:800px;

}

.drag-drop-box {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    margin-top: 50px;
}

.drag-drop-box-heading {
    color: #ffffff;
    z-index: 1;
    position: relative;
}

.cuisine-box {
    position: relative;
    padding-left:70px;
    padding-right:70px;
}

.sort-li {
    height:40px;
    margin-bottom:10px;
}

.black-box {
    background-color: #545255;
    opacity: 0.8;
    width: 100%;
    height: 650px;
    text-align: center;
    position: absolute;
    top:0;
}

.li-ingredient-added {
    background-color: transparent;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: red;

}

.btn-default {
    background-color: #ffffff !important;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #ccc !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
}

.caret-right {
    float: right;
    margin-top: 9px;

}

.cross-button {
    /*float: none !important;*/
    /*padding-left: 5px !important;*/
    /*position: absolute !important;*/
    top:-5px !important;
    right: -5px !important;
    position: absolute;
    color: red;
    opacity: 1;
    font-size: 2em;
    font-weight: normal;
}

.cross-button:hover {
    color: red;
    opacity: 0.6;
}

.cross-button:active {
    outline: none;
}

.dropdown-buttons {
    width:100%;
}

.dropdown {
    padding-top: 0px;
}
.inline-block {
    display: inline-block;
}

.recipe-container {
    margin-top: 20px;
    height: 410px;
    background-color: #ffffff;
}

.recipe-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.recipe-image:before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-left: 300px solid white;
    border-top: 80px solid transparent;
    width: 0;
}

.ingredients-match-number {
    color: #ffffff;
    margin-top: 4px;
}

.ingredient-match {
    border-radius: 50%;
    height: 66px;
    width: 66px;
    background-color: #545255;
    position: absolute;
    top: 43%;
    left: 30px;
    z-index: 1;
    border: 3px solid #ffffff;
}

.ingredients-match-word {
    color: #ffffff;
    font-size: 9px;
    margin: -9px 0 8px;
}

.recipes-matched-search {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media (max-width:1200px) and (min-width: 992px)
{
    .recipe-image:before {
        border-left: 500px solid white;
        border-top: 80px solid transparent;
    }
}

@media (max-width:991px)
{
    .recipe-image:before {
        border-left: 1000px solid white;
        border-top: 80px solid transparent;
    }

    /* positions ingredients list underneath recipes below this width */
    .home-recipe-container {
        display: flex;
        flex-flow: column;
    }

    .selected-ingredients-anchor {
        order: 2;
    }

    .recipe-container {
        order: 1;
    }

}

@media (max-width:767px) {
    .cuisine-ribbon-container {
        top:0 !important;
    }
}


.recipe-text {
    margin-bottom:50px;
    padding-left:20px;
    padding-right:20px;
}

.selected-ingredients-anchor {
    /*overflow: hidden;*/
    /*background-color: #333;*/
    /*position: fixed;*/
    /*width: 73%;*/
    /*margin-right:15px;*/
    /*z-index:1000;*/
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
    padding: 0 15px;
    height:100px;
}

.selected-ingredients-anchor ul {
    /*float: left;*/
    /*display: block;*/
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*font-size: 17px;*/
    /*display:none;*/
    white-space:nowrap;
}

.drop-down-full-width {
    width:100%;
}

.home-recipe-container {
    text-align:center;
}

#search-container {
    margin-top: 20px;
}

#ingredient-search-group {
    margin-bottom: 20px;
}

.ingredient-img {
    /*background-image: url("../img/eggs.jpeg");*/
    width: 55px;
    height:55px;
    border-radius: 50%;
    background-size: cover;
    margin:auto;
    position: relative;
}

.clearable {
    padding-left:0px;
}

.cuisine-button {
    background-color: #545255;
    color: white;
    width:250px;

}

.container-button {
    text-align: center;
    margin: 0 auto;
    width:100%;
    margin-top:50px;
}


/*@media (max-width:1200px) and (min-width: 992px)*/
/*{*/
    /*.selected-ingredients-anchor {*/
        /*bottom: 0;*/
        /*margin-bottom: 10px;*/

    /*}*/
/*}*/

/*@media (max-width:991px)*/
/*{*/
    /*.selected-ingredients-anchor {*/
        /*bottom: 0;*/
        /*margin-bottom: 10px;*/
        /*width:93%;*/
        /*margin-right:15px;*/
    /*}*/
/*}*/
#search-validation {
    padding-left:10px;
    margin-top:-20px;
    margin-bottom:0;
    min-height:22px;
}

.sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 20;
    top: -57px;
    left: 0;
    background-color: #434144;
    /* Currently changed so it matches logo-one.png */
    /*background-color: #545255;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 77px;
    margin-top: 57px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-long {
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 57px;
    /* background-color: #4A4848; */
    /* Currently changed so it matches logo-one.png */
    background-color: #545255;
    color: #ffffff;
    text-align: center;
}

.content {
    padding-top: 57px;
}

.burger {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    padding-left: 10px;
    line-height: 55px;
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
}

.recipe-link:hover {
    text-decoration: none;
}

.recipe-name {
    color: #5B834F;
}

.recipe-name:hover {
    text-decoration: none;
    opacity: 0.7;
}

.source-link {
    color: #5B834F;
}

.source-link:hover {
    text-decoration: none;
    opacity: 0.7;
}

/*#logo-image {*/
    /*max-height: 54px;*/
    /*margin-bottom: 7px;*/
/*}*/

/* Slider */
@media screen and (min-width: 992px) {
    .prev,.next {
        display:none;
    }
    .slider-recipe-count {
        display:none;
    }
}
@media screen and (max-width: 991px) {
    .slider-outer{
        overflow: auto;
        width: 100%;
        margin: 0 auto;
        position:relative;
    }

    .slider-inner {
        overflow: hidden;
        float: left;
        width: 100%;
    }

    .slider-inner div.item {
        display:none;
        width: 100%;
    }

    .slider-inner div.active {
        display:inline-block;
    }

    .prev,.next {
        cursor: pointer;
        margin-top: 240px;
        max-width: 25px;
        max-height: 25px;
        float:left;
    }

    .prev {
        position: absolute;
        left: 5px;
        z-index: 1;
    }

    .next {
        position: absolute;
        margin-left: -30px;
        z-index: 1;
    }
}

.intro-message {
    width: 50%;
    height:400px;
    background-color: #ffffff;
    margin-right:auto;
    margin-left:auto;
    margin-top:5%;
    position: relative;
    display:none;
    box-shadow: 3px 3px 3px #D3D3D3;
}


@media screen and (max-width: 480px) {
    .intro-message {
        width: 90%;
    }
}

.tour-button {
    position: absolute;
    bottom:20px;
    margin-left:auto;
    margin-right:auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.intro-heading {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);
    line-height: 58px;
}

.into-text {
    color: #545255;
    font-size: 18px;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, 0);
}

.intro-header {
    position: absolute;
    top:0;
    width: 100%;
    height:60px;
    background-color:#545255;

}

.bootstro-ingredient-img {
    width:60px;
    height:auto;
}

.bootstro-recipe-img {
    width:240px;
    height:auto;

}

.match-show-count {
    width:50px;
    height:auto;
}

.overlay {
    width:10px;
    margin-left:50%;
}
.red {
    color:red;
}

.cuisine-dropdown {
    width:100%;
    background-color: #545255 !important;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #ccc !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    height: 37px;
    margin-top:20px;
}

.checkbox-block-div {
    margin-top:20px;
}

.checkbox-block-div label {
    width: 100%;
}

.icheckbox_line-green {
    padding-top: 10px;
    height: 37px;
    font-size: 14px;
}

.all-dropdowns {
    padding-top:20px !important;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-right: 10px;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 125%;
    line-height: 1.2;
    color: #ddd;
    margin-bottom: -5px;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating:not(.rating-editable) > label {
    cursor: auto;
}

.rating > input:checked ~ label {
    color: #ff4f00;
}

.rating-editable > input:checked + label:hover,
.rating-editable > input:checked + label:hover ~ label,
.rating-editable > input:checked ~ label:hover,
.rating-editable > input:checked ~ label:hover ~ label,
.rating-editable > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating-editable > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.rating-editable:not(:checked) > label:hover,
.rating-editable:not(:checked) > label:hover ~ label {
    color: gold;
}

.rated > input:checked ~ label {
    color: #ea0;
}

.rating-editable.rated > input:checked + label:hover,
.rating-editable.rated > input:checked + label:hover ~ label,
.rating-editable.rated > input:checked ~ label:hover,
.rating-editable.rated > input:checked ~ label:hover ~ label,
.rating-editable.rated > label:hover ~ input:checked ~ label {
    color: gold;
}

.alert-message {

}

/*.alert {*/
    /*padding: 15px;*/
    /*margin-bottom: 22px;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
    /*background-color: #ffffff !important;*/
    /*color: #000000 !important;*/
    /*width:30% !important;*/
    /*height:300px !important;*/

/*}*/



.success-box {
    width:30%;
    height:30%;
    background-color: #2ab27b;
    position: absolute;
    z-index: 10;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top:200px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.color-red {
    background-color: red !important;
}


.alert-success {
    background-color: #ffffff;
    border: none;
    color: #000000;
}
.alert-danger {
    background-color: #ffffff;
    border: none;
    color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.alert-success {
    background-color: #ffffff;
    border: none;
    color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.alert-success {
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
}
.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0px;
    height:40%;
}

.tick {
    position: absolute;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width:70px;
    height:70px;
    top:20px;
}

.cross-img {
    position: absolute;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width:70px;
    height:70px;
    top:20px;
}

.close-message-box {
    padding:0 !important;
    margin: 0 !important;
    zoom: 2 !important;
    color: #545255;
    opacity: 1;
    text-shadow: none;
    line-height:0 !important;
    font-weight: normal;
    border: none;
    outline:none;
}

.close-message-box:hover {
    color: red;
    opacity: 1;
}

.each-recipe-result-img {
    width: 100%;
    height: 486px;
    background-size: cover;
    overflow: hidden;
    position: relative;

}

.recipe-info-opacity {
    width: 100%;
    height: 200px;
    background-color: #0a0a0a;
    position: absolute;
    bottom: 0;
    z-index:-100;
    opacity: 0.5;
}

.recipe-onfo-each {
    position: absolute;
    height:200px;
    color: #ffffff;
    z-index: 1;
    bottom:0;
    width: 100%;
    /*margin-right: 15px;*/
}

.each-img-container {
    /*padding:0 !important;*/
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/

}

.margin-top {
   margin-top:100px !important;
}

.uppercase {
    text-transform: uppercase;
}

.cuisine-ribbon-container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 5px;
    z-index:1;
}

.cuisine-ribbon {
    font: bold 13px Sans-Serif;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    margin-top: 50px;
    padding: 7px 0;
    left: -6px;
    top: -14px;
    width: 175px;
    color: #FFF;
    opacity:1.0;
}

.cuisine-ribbon:before {
    left: 0;
}
.cuisine-ribbon:after {
    right: 0;
}

.German {
    background-color: #000;
}
.French {
    background-color: #0055A4;
}
.Italian {
    background-color: #CE2B37;
}
.Spanish {
    background-color: #0039F0;
}
.Mexican {
    background-color: #006847;
}
.Indian {
    background-color: #ff8000;
}
.Thai {
    background-color: #241D4F;
}
.Japanese {
    background-color: #E1AAC8;
}
.Chinese {
    background-color: #fdcf10;
}
.Mediterranean {
    background-color: #893DA2;
}
.Western {
    background-color: #5c9ccc;
}

.step-img {
    width: 100%;
    height:200px;
    object-fit: cover;

}

.steps-list {
    width: 100%;
    height:auto;
    background-color: #ffffff;
    margin-bottom:50px;
    padding:20px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.ingredient-recipe-page-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
}

.separate-ingredients {
    margin-top:20px;
    margin-bottom: 20px;
}

.somedivs {
    margin-bottom:12px;
    height:40px;
}

.first-row {
    margin-left:15px !important;
}

.star-desc-name {
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.6;
    vertical-align: top;
    border-top: none;
}

.nutritional-table-heading {
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-steps-description {
    padding:0;
}

.world {
    width:40px;
    height:40px;
}

.serves {
    height:50px;
    width:50px;
}

.recipe-icon {
    width:50px;
    height:auto;
}

.step-number {
    width: 35px;
    height: 35px;
    background-color: #2ab27b;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 46%;
    font-size: 19px;
    color: #ffffff;
}

.step-node {
    width: 48%;
    min-width: 300px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right:10px;
}

.table-row-left {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    margin-left:10px;
}
.table-row {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
}

.table-row-height {
    float: left;
    display: block;
    width: 100px;
    height: 20px;
}

.nut-names {
    width: 100%;
    height: 30px;
    margin-top:63px;
    text-transform: uppercase;
}

.nut-numbers {
    width: 100%;
    height: 5px;
    margin-top: 22px;
    color: #2ab27b;
    font-weight: bold;
}

.line {
    border-top: 1px solid black;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.show-mobile {
    visibility: hidden;
}

@media (max-width:1200px) and (min-width: 992px) {
    .show-mobile {
    visibility: hidden;

    }
}

/*@media (max-width:991px)*/
/*{*/
    /*.show-desktop {*/
    /*visibility: hidden;*/

    /*}*/
/*}*/

.nutritional-box {
    background-color: white;
    width: 86%;
    margin: 0 auto;
}

@media (max-width:991px)
{
    .show-desktop {
        visibility: hidden;

    }

    .nutritional-box {
        width:100% !important;
        height: 433px;

    }

    .show-mobile {
        visibility: visible;
        margin-bottom: 14px;
    }

    .table-row {
        float: left;
        display: block;
        width: 100px;
        height: 10px;
    }

    .table-row-height {
        float: left;
        display: block;
        width: 100px;
        height: 10px;
    }
}
