body {
    background-color: #F0F0F0;
}

ul  {
    list-style-type: none;
}

.li-ingredient-added {
    background-color: transparent;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: red;

}

.btn-default {
    background-color: #ffffff !important;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #ccc !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
}

.caret-right {
    float: right;
    margin-top: 9px;

}


.cross-button {
    /*float: none !important;*/
    /*padding-left: 5px !important;*/
    /*position: absolute !important;*/
    top:0 !important;
    right:0 !important;
}


.dropdown-buttons {
    width:100%;
}

.dropdown {
    padding-top: 10px;
}

.recipe-container {
    margin-top:20px;
    height: 350px;
    background-color: #ffffff;
}

.recipe-image {
    background-image: url("../img/salmon-dish-food-meal-46239.jpeg");
    width: 100%;
    height: 250px;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
.recipe-image:before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-left: 300px solid white;
    border-top: 80px solid transparent;
    width: 0;
}

@media (max-width:1200px) and (min-width: 992px)
{
    .recipe-image:before {
        border-left: 500px solid white;
        border-top: 80px solid transparent;
    }
}

@media (max-width:991px)
{
    .recipe-image:before {
        border-left: 1000px solid white;
        border-top: 80px solid transparent;
    }
}

    .recipe-text {
    margin-bottom:50px;
    padding-left:20px;
    padding-right:20px;
}

.selected-ingredients-anchor {
    /*overflow: hidden;*/
    /*background-color: #333;*/
    /*position: fixed;*/
    /*width: 73%;*/
    /*margin-right:15px;*/
    /*z-index:1000;*/
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
    padding: 0 15px;
}

.selected-ingredients-anchor ul {
    /*float: left;*/
    /*display: block;*/
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*font-size: 17px;*/
    /*display:none;*/
    white-space:nowrap;

}

.drop-down-full-width {
    width:100%;
}

.home-recipe-container {
    text-align:center;
}

.ingredient-img {
    background-image: url("../img/eggs.jpeg");
    width: 55px;
    height:55px;
    border-radius: 50%;
    background-size: cover;
    margin:auto;
}

.clearable {
    padding-left:0px;
}

/*@media (max-width:1200px) and (min-width: 992px)*/
/*{*/
    /*.selected-ingredients-anchor {*/
        /*bottom: 0;*/
        /*margin-bottom: 10px;*/

    /*}*/
/*}*/

/*@media (max-width:991px)*/
/*{*/
    /*.selected-ingredients-anchor {*/
        /*bottom: 0;*/
        /*margin-bottom: 10px;*/
        /*width:93%;*/
        /*margin-right:15px;*/
    /*}*/
/*}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4A4848;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-long {
    width: 100%;
    height: 57px;
    background-color: #4A4848;
    color: #ffffff;

}
